[ng-sortable] {
    position: relative;
}

[ng-sortable] .sortable-element {
}

[ng-sortable] .sortable-element.sortable-element-dragitem {
    display: block !important;
    position: absolute;
    z-index: 99999;
}

[ng-sortable] .sortable-element.sortable-element-active {
    opacity: 0.5;
    display: block;
}

[ng-sortable].sortable-active {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
[ng-sortable].sortable-both .sortable-element {
    display: inline-block;
}
[ng-sortable].sortable-horizontal .sortable-element {
    display: inline-block;
    white-space: nowrap;
}

/*[ng-sortable].sortable-horizontal {

}*/